<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>出错了</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="../static/images/gravatar.jpg"> 
	<link href="../static/css/sign.css" rel="stylesheet">
	</head>
<body  style="background-image: url(../static/images/back2.jpg);background-repeat:no-repeat;background-attachment: fixed;">
   <script type="text/javascript" color="0,0,255" opacity='1' zIndex="-2" count="150" src="http://cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js"></script>
 <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">首页</a>
                    </li>
                    <li role="presentation"><a href="/showSignin">登入</a>
                    </li>
                    <li role="presentation"><a href="/showSignUp">注册</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">吐槽板</h3>
        </div>
 
        <center>
        <div class="form-group">
            <h1>{{error}}</h1>
        </div>
		</center>
        <div id="footer">
            <div>
                &copy; FlyingStudio-<a href="http://flywinky.top">Bayi</a> 2017
            </div>
        </div>
 
    </div>
</body>
 
</html>