<!DOCTYPE html>
<html lang="en">
<head>
    <title>时光匆匆</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="../static/images/gravatar.jpg"> 
	<link href="../static/css/sign.css" rel="stylesheet">
	</head>
<body  style="background-image: url(../static/images/back4.jpg);background-repeat:no-repeat;background-attachment: fixed;">
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">首页</a>
                    </li>
                    <li role="presentation"><a href="showSignin">登入</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">注册</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">吐槽板</h3>
        </div>
		<center>
		<div class="row marketing">
                <h4>春</h4>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;至万物破空门</p>
                <h4>秋</h4>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;末凉风扫落叶</p>

				<h4>夏</h4>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;起蝉鸣乱路人</p>
                <h4>冬</h4>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;末春近四季轮</p>
        </div>
		</center>
		 <div id="footer">
            <div>
                &copy; FlyingStudio-<a href="http://flywinky.top">Bayi</a> 2017
            </div>
        </div>
    </div>
</body>
 
</html>
