{% extends 'admin/admin.html' %}

{% block content %}
<section class="content-header">
            <h1>后台管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 文件管理</a></li>
                <li class="active">文件列表</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">文件列表</h3>
                        </div>
                        <table role="presentation" class="table table-striped">
                        <tbody class="files">
                        <tr>
                                <th>预览图</th>
                                <th>文件名</th>
                                <th>文件大小</th>
                                <th>操作事项</th>
                        </tr>
                        {% for file in files_list %}
                        <tr class="template-download fade in">
                        <td>
                            <span class="preview">
                            <a href="{{ url_root }}admin{{ file['thumb_url'] }}" title="{{ file['name'] }}"><img width="80" height="50" src="{{ url_root }}admin{{ file['thumb_url'] }}"></a>
                            </span>
                        </td>
                        <td>
                            <p class="name">
                            <a href="{{ url_root }}admin{{ file['url'] }}" title="{{ file['name'] }}" download="{{ file['name'] }}" data-gallery="">{{ file['name'] }}</a>
                            </p>
                        </td>
                        <td>
                        <span class="size">{{ file['size'] }} KB</span>
                        </td>
                        <td>
                            <a href="{{ url_root }}admin{{ file['delete_url'] }}">
                                <button class="btn btn-danger delete" data-type="DELETE">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>删除</span>
                                </button>
                            </a>
                        </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('#g-6').addClass("active")
            $('#g-6-1').addClass("active")
        })
    </script>
{% endblock %}