{% extends "bootstrap/base.html" %}
<meta name="csrf-token" content="{{ csrf_token() }}"/>
{% block title %}吐槽{% endblock %}

{% block head %}
{{ super() }}
<link rel="icon" href="{{ url_for('static', filename='images/favicon.gif') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">首页</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">个人中心</a></li>
                {% endif %}
                <li><a target="_blank" href="https://bayi27.github.io">MyBlog</a></li>
            </ul>
            <form class="navbar-form navbar-left" id="search_form" method="GET" action="../searchpost">
                <div class="form-group">
                    <input name="q" type="text" class="form-control" placeholder="请输入关键字" required>
                </div>
                <select class="form-control" onchange="Searchtype(this.options[this.options.selectedIndex].value)">
                    <option value="post" selected="selected">留言</option>
                    <option value="comment">评论</option>
                </select>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated and current_user.username=='八一' %}
                    <li><a href="http://your-url/MQo!V5JOYqGX5yvj">后台管理</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">后台管理</a></li>    
                {% endif %}    
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{current_user.username}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">修改密码</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">登陆</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang("zh-CN") }}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
